#top{
    display: flex;
    flex-direction: row;
}
.topRow
{
    display: block;
}

#top button{
    float: right;
    color: white;
}

#filter{
    display: flex;
    flex-direction: row;
    padding: 1em;
}

#filter button{
    background-color: white;
    border: white;
    border-radius: 5px;
    padding: 1em;
    height: 30px;
    justify-content: center;
    align-items: center;
}

#bfilter
{
    font-size: 11px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 6px;
}

#filter button:hover{
    background-color: #0064d9;
    border: #0064d9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    padding: 1em;
    height: 30px;
}

thead { 
    background-color:#ececec;
}

tbody tr{
    border-bottom: 2px solid #ececec;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

td a{
    color: blue;
    text-decoration: none;
}
td{
    padding: .5em;
}

#IssueBtn
{
    margin-left:600px;
    margin-top: 50px;
    background-color: rgb(72, 134, 72);
    border-style: hidden;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 25px;
    font-size: 10px;
    color: white;
}

.open {
    background-color: rgb(72, 134, 72);
    color: white;
    border-style: hidden;
    border-radius: 5px;
    text-transform: uppercase;
    height:30px;
    padding: .5em;
}

.closed{
    background-color: orange;
    color: white;
    border-style: hidden;
    border-radius: 5px;
    text-transform: uppercase;
    height:30px;
    padding: .5em;
}

.progress{
    background-color: yellow;
    border-style: hidden;
    border-radius: 5px;
    text-transform: uppercase;
    height:30px;
    padding: .5em;
}