html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
   padding: 0;
   margin: 0;
}

.container{
    display:grid;
    grid-template-areas: "side main";
    grid-column-gap: 20px;
    width: 1200px;
}

header{
    background-color: black;
    color: white;
    height: 50px;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

header h1{
    margin: 10px;
}

.page{
    grid-area: main;
    width: 1000px;
}

.aside{
    grid-area: side;
    background-color:#ececec;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.aside a{
    text-decoration: none;
    color: black;
    padding: .5em;
    display: flex;
    flex-direction: row;
}

.bug {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.icon{
    width: 15px;
    padding-right: 5px;
}

select{
    padding: 1em;
    border-radius: 5px;
    background-color:#ececec;
    border: 1px solid black;
}

input{
    padding: 1em;
    border-radius: 5px;
    background-color:#ececec;
    border: 1px solid black;
    outline: none;
}

#submit{
    width: 200px;
    background-color: #0064d9;
    border: #0064d9;
    color: white;
    padding: 1em;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
}

form label{
    font-weight: bold;
}

.displayArea{
    display: grid;
    grid-template-areas: "main side";
}

.textArea{
    grid-area: main;
}
.textArea ul {
    list-style-image: url("IMG/next.svg");
}
.side{
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-top:10%;
    margin-left: 5%;
    border:1px;
    border-radius: 6px;
    border-color: rgb(87, 83, 83);
    border-style:solid;
    background-color:#ececec;
    margin-bottom: 20px;
    padding: 1em;
}

.side #rb
{
    
    background-color: rgb(18, 112, 219);
    border-style: hidden;
    width: 150px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}
.side #rb2
{
    
    background-color: rgb(49, 126, 49);
    border-style: hidden;
    width: 150px;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
}

#boxtitle{
    font-weight: bold;
}